
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    width: 100%;
    min-height: 100vh;
}
#root
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-main{
    flex: 0 0 80%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-main h2{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-size: 2.4em;
    
}
.container-main .createbtn {
    margin: 4em 0 0.10em 0;
    position: relative;
    right: -40%;
    outline: none;
    border: none;
   
   
    font-size: 0.87em;
    background: blue;
    
    transition: background 400ms ;
    
}
.container-main .createbtn .btnlink{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.6em;
}
.container-main .createbtn:hover{
    background: darkblue;
}
.container-main .createbtn .btnlink ion-icon{
    font-size: 1.5em;
    color: white;
}
.container-main main
{
    width: 100%;
    height: 100%;
}
.item-container-main
{

    height: 9em;
    margin: 5% 0;
    position: relative;
    
}
.item-container-main > h3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(16, 201, 16);
    white-space: nowrap;
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: lighter;
    animation: textanime 2.4s ease-out 1 forwards;
    display: none;
    z-index: 1;
}
.item-container-main > h3.active{
    display: block;
}
@keyframes textanime{
    0%{
        opacity: 0%;
        transform: translate(-50%,-50%) scale(0.85);
    }
    50%{
        opacity: 100%;
        transform: translate(-50%,-50%) scale(1);
    }
    100%{
        opacity: 0%;
        transform: translate(-50%,-50%) scale(0.85);
    }
}

.item-container-main .item-container
{
    width: 100%;
    display: flex;
    height: 100%;
    box-shadow: 5px 5px 12px rgba(121, 119, 119, 0.582);
   
   transform: translate(0,0);
   
   transition: all 300ms ease-out;
   /* animation: fadeout 500ms linear 1 forwards; */
}

.item-container-main .item-container.animate
{
   
   animation: fadeout 500ms linear 1 forwards;
}

@keyframes fadeout{
    0%{
        opacity: 100%;
       
    }
    100%{
        opacity: 0%;
        
        transform: translateX(-50%)
    }
}
.item-container:hover{
    box-shadow: 5px 10px 12px rgba(121, 119, 119, 0.582);
    
   transform: translateY(-5%);
}

.item-container .img-container {
    flex: 0 0 26%;
    height: 100%;
    cursor: pointer;
  
}
.item-container .img-container img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   aspect-ratio: 16/9;
}
.item-container .info{
   
    color: black;
    
}
.item-container .info h3{
    margin-top: 1.3em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 0 4%;
    font-size: 1.07em;

}
.item-container .info .wrapper-extra{
  width: 100%;
  display: flex;
  gap: 30%;
  margin-top: 10px;
  align-items: center;
  position: relative;
}
.item-container .info .wrapper-extra .more-details{
    display: flex;
    width: 100px;
    margin-left: 40px;
}
.item-container .info .wrapper-extra .more-details h4{ 
    font-size: 0.89em;
    margin: 0 4%;
    display: inline-block;
    background: #00203FFF;
     padding:8% 14%;
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 20px;
}
.item-container .info .wrapper-extra .more-details h4:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.item-container .info .wrapper-extra .more-details h4:nth-child(2) ion-icon{
   color: yellow;
   font-size: 1.2em;
}

.item-container .info .wrapper-extra .operations{

  
    display: flex;
    gap: 20%;
    position: absolute;
    font-size: 1.7em;
    right: 7%;
}
.item-container .info .wrapper-extra .operations .delete,.item-container .info .wrapper-extra .operations .update{
    background: transparent;
    outline: none;
    border: none;
    font-size: 0.77em;
}
.item-container .info .wrapper-extra .operations .delete ion-icon:hover{
    color: red;
}
.item-container .info .wrapper-extra .operations .update ion-icon:hover{
    color: green;
}



@media screen and (max-width:810px) {
    .item-container .info h3{
        font-size: 1em;
    
    }
    .item-container .info .wrapper-extra .more-details h4{ 
        font-size: 0.69em;
       
    }
    .item-container .info .wrapper-extra .operations{
        font-size: 1.4em;
    }
    
}
@media screen and (max-width:490px) {

    .item-container .info .wrapper-extra .more-details h4{ 
        font-size: 0.49em;
       
    }
    .item-container .info .wrapper-extra .operations{

        font-size: 1.4em;
    }
    
}